[Unit]
Description=Runs upgrade informer periodically
ConditionPathExists=/run/ostree-booted

[Timer]
OnBootSec=1m
OnUnitInactiveSec=5m
RandomizedDelaySec=2m

[Install]
WantedBy=timers.target