[Unit]
Description=Check for available bootc updates
ConditionPathExists=/run/ostree-booted

[Service]
Type=oneshot
ExecStart=/usr/libexec/upgrade-informer
