[Unit]
Description=Check for available Bootc Upgrade and update /etc/motd.d/upgrade-message

[Service]
Type=simple
ExecStart=/bin/bash -c '
while true; do
  output=$(bootc upgrade --check);
  if [[ $output == No\ changes\ in* ]]; then
    > /etc/motd.d/upgrade-message;
  else
    echo "$output" > /etc/motd.d/upgrade-message;
  fi;
  sleep 30s;
done
'

[Install]
WantedBy=multi-user.target